/* Estilos generales */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #005a9c;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

h1 {
    margin: 0;
    font-size: 22px;
}

main {
    flex: 1; /* Ocupa el resto de la pantalla */
    padding: 20px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-start; /* Alinea arriba */
}

/* Tarjeta principal */
.buscador-container {
    background-color: white;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 400px; /* Ancho máximo para que no se estire en PC */
}

label {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
    color: #444;
}

select {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #005a9c;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 30px;
    outline: none;
    cursor: pointer;
}

/* Resultado */
#resultado-container {
    background-color: #e3f2fd; /* Azul muy clarito */
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #bbdefb;
}

.titulo-proximo {
    margin: 0;
    font-size: 13px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

#hora-grande {
    font-size: 65px;
    font-weight: 800;
    color: #005a9c;
    margin: 15px 0;
    line-height: 1;
}

#info-extra {
    font-size: 15px;
    color: #555;
    margin: 0;
    font-weight: 500;
}